@{
    ViewData["Title"] = "Personlist";
}
@model Test.Models.Person


<h2>@ViewData["Title"]</h2>
<form asp-action="Edit" style="margin-bottom:20px">
    <button type="submit" class="btn btn-primary">
        Create a new Person
    </button>
</form>

<form asp-action="Filter" method="get">
    @Html.TextBoxFor(m => m.Id, new { placeholder = "ID" })
    @Html.TextBoxFor(m => m.Firstname, new { placeholder = "Firstname" })
    @Html.TextBoxFor(m => m.Lastname, new { placeholder = "Lastname" })
    @Html.LabelFor(m => m.isCompany)
    @Html.CheckBoxFor(m => m.isCompany)
    <button type="submit" class="btn btn-primary">
        Search
    </button>
    <button asp-action="Index" class="btn btn-primary">
        Show all
    </button>
</form>


<table class="table table-light table-striped table-hover">
    <thead>
        <tr>
            <th>ID</th>
            <th>First</th>
            <th>Lastname</th>
            <th>Employee</th>
            <th hidden>Edit</th>
            <th hidden>Delete</th>

        </tr>
    </thead>
    <tbody>
        @{
            foreach (Person person in ViewBag.Persons)
            {
                <tr>
                    <td>
                        @person.Id
                    </td>
                    <td>
                        @person.Firstname
                    </td>
                    <td>
                        @person.Lastname
                    </td>
                    <td>
                        @person.isCompany
                    </td>
                    <td>
                        <form asp-action="Edit" asp-route-id="@person.Id">
                            <button class="btn btn-warning">Edit</button>
                        </form>
                    </td>
                    <td>
                        <form asp-action="Delete" asp-route-id="@person.Id">
                            <button class="btn btn-danger">Delete</button>
                        </form>
                    </td>
                </tr>
            }

        }
    </tbody>
</table>